{{!
    @template bookingextension_todolist/todolist
}}
<div class="bookingextension-todolist" data-region="bookingextension-todolist" data-optionid="{{optionid}}" data-cmid="{{cmid}}" data-cancheck="{{#cancheck}}1{{/cancheck}}{{^cancheck}}0{{/cancheck}}">
    <ul class="list-unstyled mb-0">
        {{#hasitems}}
            {{#items}}
                <li class="d-flex align-items-start mb-1">
                    <input
                        type="checkbox"
                        class="form-check-input mt-1 me-2 js-bookingextension-todolist-checkbox"
                        data-action="toggle-todolist-item"
                        data-itemid="{{id}}"
                        data-optionid="{{optionid}}"
                        {{{checkedattr}}}
                        {{#readonly}}disabled{{/readonly}}
                    >
                    <span>{{text}}</span>
                </li>
            {{/items}}
        {{/hasitems}}
        {{^hasitems}}
            <li>{{#str}}todolist_empty, bookingextension_todolist{{/str}}</li>
        {{/hasitems}}
    </ul>
</div>
